<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">
        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </span>
            <nav class="gh-footer-menu">
                {{navigation type="secondary"}}
            </nav>

            <div class="gh-footer-social-bar">
                <a class="gh-footer-social-link" href="https://github.com/{{@custom.github_username}}" target="_blank" rel="noopener">
                    {{> "icons/github"}}
                </a>
                <a class="gh-footer-social-link" href="https://linkedin.com/in/{{@custom.linkedin_username}}" target="_blank" rel="noopener">
                    {{> "icons/linkedin"}}
                </a>
                <a class="gh-footer-social-link" href="https://medium.com/@{{@custom.medium_username}}" target="_blank" rel="noopener">
                    {{> "icons/medium"}}
                </a>
            </div>
        </div>
        <div class="gh-footer-credits-bar">
            <div class="gh-footer-credits-copr">
                © {{date format="YYYY"}} {{@custom.copyright_name}}
            </div>
            <div class="gh-footer-credits-pow">
                Made with love using <a href="https://github.com/TryGhost/Ghost" target="_blank" rel="noopener">Ghost</a> and
                <a href="https://www.raspberrypi.com" target="_blank" rel="noopener">Raspberry Pi</a>.
            </div>
        </div>
    </div>
</footer>